@import "./imports";
@import "./base/base";


body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  font-size: 60px;
}

* {
    box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.7;
  background-color: #fff;
}

h1, h2 {
  font-size: 30px;
  line-height: 1.2;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}


.slide {
  height: 100%;
  padding: 30px;
  h1, h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.takehome {
  background-color: red;
  color: #fff;
  font-size: 40px;

  .content {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
  }
}

.basic-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;

    h1, h2 {
      margin-top: auto;
      margin-bottom: 40px;
    }
  }

  .content {
    flex: 1 1 50%;
    max-width: 85%;
  }
}

.two-columns {
  max-width: 85%;
  margin: 0 auto 5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  > div {
    flex: 1 1 50%;
    margin: 0 30px;
  }

  > :first-child {
    text-align: right;
  }
}

#application {
  height: 100%;
  > div {
    height: 100%;
  }
}

.two-choices {
  height: calc(100vh - 145px);
  padding: 15px;
  button {
    height: 50%;
    margin-bottom: 15px;
  }
}

.waiting {
  text-align: center;
  padding: 100px 15px;
  p {
    margin: 15px 0 0;
  }
}
