import * as React from 'react';
import * as ReactTestUtils from 'react-addons-test-utils';
import { shallow, ShallowWrapper } from 'enzyme';

import { {{ pascalCase name }} } from './{{ dashCase name }}.component';

describe("StoryDetail", () => {
  const elt = <{{ pascalCase name }} name="foo" />

  it("renders", () => {
    pending();
  });
});
